@model advancedProject.Models.Tasks

@{
    ViewData["Title"] = "Edit Task";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<nav class="sidebar">
    <div class="sidebar-container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Welcome</a>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Task" asp-action="List">Users Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">Users Profile</a>
            </li>
            <li class="nav-item">
                <a id="logoutt" class="nav-link" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/login")" method="post">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<h2 class="edittask">Edit Task</h2>

<form  class="formedit" asp-action="UserTasks" asp-controller="Task" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" disabled class="form-control" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" disabled class="form-control" />
    </div>
    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" disabled class="form-control" />
    </div>
    <div>
        <label asp-for="Priority"></label>
        <input asp-for="Priority" disabled class="form-control" />
    </div>
    <div>
        <label asp-for="status"></label>
        <select asp-for="status" asp-items="@ViewBag.Status" class="form-control"></select>
    </div>
    <button type="submit" id="updatebuton" class="btn btn-primary">Update Status</button>
</form>
