@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/account.css" asp-append-version="true">


<div class="r-area">
    <section class="login-section">
        <h1 class="titleee">Register Now!</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
           
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-2">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
                <label asp-for="Input.Username" class="form-label">Username</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>

            <div class="form-floating mb-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Email" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-2">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-2">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="login-submit" type="submit" class="btn btn-lg btn-primary">Register</button>
        </form>
        <p class="asp-page-link" id="registerlinkk">
            already have an account?
            <a asp-page="./Login" id="registerlink" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
        </p>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
